# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [23]:
# Exercise 1
list1=[1,2,3,4,5,6,7,8,9,10]
print (list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [3]:
# Exercise 2
fruits=("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [24]:
# Exercise 3
number3=[10,20,30,40]
print(number3)

[10, 20, 30, 40]


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [25]:
# Exercise 4
set4=(1, 2, 3, 4, 5)
print(set4)

(1, 2, 3, 4, 5)


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [15]:
# Exercise 5
student={ "name":"Alice","age":20,"grade":"A"}
print("student name, age , grade:" ,student["name"],student["age"],student["grade"])

student name, age , grade: Alice 20 A


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [26]:
# Exercise 6
list6=[10, 20, 30, 40, 50]
print(list6[1])

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [17]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]=("mango")
print(fruits)

['apple', 'banana', 'mango', 'orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [20]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [22]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [32]:
# Exercise 10
for i in range(0,9):
 print(i)

0
1
2
3
4
5
6
7
8


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [52]:
# Exercise 11
for j in range(1, 10):
  print(j**2)

1
4
9
16
25
36
49
64
81


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [55]:
# Exercise 12
for a in range(2,10,2):
    print(a)

2
4
6
8


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [56]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [65]:
# exercise 14
numbers = {1, 2, 3, 4, 5}
print(3 in numbers)

True


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [66]:
# Exercise 15
numbers = (10, 20, 30)
len(numbers)

3

# Exercise 16

In [ ]:
add the value 100 at the end of the list score=[80,85,90,95]

In [73]:
# exercise 16
score=[80,85,90,95]
score.append(100)
print(score)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [75]:
# Exercise 17
my_list = [1, 2, 3, 4, 5]
result = sum(my_list)
print(result)

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [1]:
# Exercise 18
c= [1, 2, 2, 3, 4, 4, 5]
c=set(c)
print(c)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [3]:
# Exercise 19
a="hello"
a=list(a)
print(a)

['h', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [9]:
# Exercise 20
def reverse_tuple(t):
    return t[::-1]
my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [10]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = dict1.copy() 
merged_dict.update(dict2)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [11]:
# Exercise 22
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [12]:
# Exercise 23
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [13]:
# Exercise 24
letters = [chr(i) for i in range(97, 102)]
print(letters)

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [14]:
# Exercise 25
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

combined = list(zip(list1, list2))
print(combined)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [15]:
# Exercise 26
my_list = [10, 20, 30, 40, 50]
index_of_50 = my_list.index(50)
print(index_of_50)

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [16]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [17]:
# Exercise 28
def find_largest(numbers):
    if not numbers:
        return None  
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Example usage:
nums = [3, 7, 2, 9, 5]
print(find_largest(nums))

9


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [18]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [19]:
# Exercise 30
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Access the value of the "city" key
city_value = person["city"]
print(city_value)

New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [20]:
# Exercise 31
def remove_duplicates(input_list):
    seen = set()
    result = []
    for item in input_list:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage:
my_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [21]:
# Exercise 32
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
print(list_intersection(a, b))

[3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [22]:
# Exercise 33
def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [23]:
# Exercise 34
def sum_dict_values(d):
    return sum(d.values())

my_dict = {"a": 10, "b": 20, "c": 30}
print(sum_dict_values(my_dict))  # Output: 60

60


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [24]:
# Exercise 35
nums = [3, 1, 4, 1, 5, 9]
sorted_nums = sorted(nums)
print(sorted_nums)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [25]:
# Exercise 36
def longest_string(strings):
    if not strings:
        return None 
    longest = strings[0]
    for s in strings:
        if len(s) > len(longest):
            longest = s
    return longest

# Example usage:
words = ["apple", "banana", "cherry", "date"]
print(longest_string(words))

banana


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [26]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]
all_greater_than_zero = all(num > 0 for num in numbers)
print(all_greater_than_zero)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [27]:
# Exercise 38
squares = [(x, x**2) for x in range(1, 6)]
print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [28]:
# Exercise 39
def extract_second_elements(tuples_list):
    return [t[1] for t in tuples_list]

data = [(1, 'a'), (2, 'b'), (3, 'c')]
print(extract_second_elements(data))

['a', 'b', 'c']


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [29]:
# Exercise 40
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]
lists = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(lists))

[1, 2, 3, 4, 5, 6]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [30]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [32]:
# Exercise 42
def is_tuple_empty(t):
    return len(t) == 0

non_empty_tuple = (1, 2)   
print(is_tuple_empty(non_empty_tuple))

False


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [33]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [34]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]
my_list = [1, 2, 3, 4, 5]
print(reverse_list(my_list))

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [35]:
# Exercise 45
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [36]:
# Exercise 46
original_list = [1, 2, 2, 3, 4, 4, 5]

unique_list = []
seen = set()

for item in original_list:
    if item not in seen:
        unique_list.append(item)
        seen.add(item)

print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [ ]:
# Exercise 47


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [ ]:
# Exercise 48


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [ ]:
# Exercise 49


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [ ]:
# Exercise 50


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [ ]:
# Exercise 51


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [ ]:
# Exercise 52


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [ ]:
# Exercise 53


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [ ]:
# Exercise 54


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [ ]:
# Exercise 55


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [ ]:
# Exercise 56


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [ ]:
# Exercise 57


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [ ]:
# Exercise 58


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [ ]:
# Exercise 59


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [ ]:
# Exercise 60


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [ ]:
# Exercise 61


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [ ]:
# Exercise 62


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [ ]:
# Exercise 63


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [ ]:
# Exercise 64


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [ ]:
# Exercise 65


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [ ]:
# Exercise 66


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [ ]:
# Exercise 67


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [ ]:
# Exercise 68


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [ ]:
# Exercise 69


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [ ]:
# Exercise 70


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [ ]:
# Exercise 71


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [ ]:
# Exercise 72


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [ ]:
# Exercise 73


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [ ]:
# Exercise 74


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [ ]:
# Exercise 75


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [ ]:
# Exercise 76


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [ ]:
# Exercise 77


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [ ]:
# Exercise 78


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [ ]:
# Exercise 79


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [ ]:
# Exercise 80


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [ ]:
# Exercise 81


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [ ]:
# Exercise 82


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [ ]:
# Exercise 83


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [ ]:
# Exercise 84


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [ ]:
# Exercise 85


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [ ]:
# Exercise 86


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [ ]:
# Exercise 87


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [ ]:
# Exercise 88


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [ ]:
# Exercise 89


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [ ]:
# Exercise 90


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [ ]:
# Exercise 91


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [ ]:
# Exercise 92


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [ ]:
# Exercise 93


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [ ]:
# Exercise 94


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [ ]:
# Exercise 95


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [ ]:
# Exercise 96


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [ ]:
# Exercise 97


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [ ]:
# Exercise 98


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [ ]:
# Exercise 99


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [ ]:
# Exercise 100


---